html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	background: #fff;
	font-size: 14px;
  min-width: 1200px;
	// +css-lock(16, 50, 600, 1000)
	line-height: 19px;
	display: flex;
	min-height: 100vh;
  font-family: 'OpenSans-Regular', sans-serif;
  color: $cBlack;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 600px;
	width: 100%;
}

.wrapper {
	width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.wrapper--rel {
  position: relative;
}

.site-inner {
  flex-grow: 1;
}

.icon {
  display: block;
}

.text-common {
  ul, ol {
    font-size: 16px;
    line-height: 22px;
    li + li {
      margin-top: 22px;
    }
  }
  li > ul, li > ol {
    margin-top: 22px;
  }
  ul {
    list-style-type: none;
    li {
      padding-left: 28px;
      position: relative;
      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $cRed;
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
  }
  ol {
    list-style-type: none;
    counter-reset: ol1;
    li {
      counter-increment: ol1;
      &:before {
        content: counter(ol1)'.';
        margin-right: 8px;
        color: $cRed;
      }
      & > ol {
        counter-reset: ol2;
        li {
          counter-increment: ol2;
          padding-left: 12px;
          &:before {
            content: counter(ol1)'.'counter(ol2)'.';
            color: $cRed;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.text-image {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  img {
    max-width: 480px;
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 10px;
  }
}

.text-image--left {
  flex-direction: row-reverse;
  img {
    margin-left: 0;
    margin-right: 20px;
  }
}

.cols {
  display: flex;
  align-items: flex-start;
}

.cols2 {
  .col {
    width: 50%;
  }
}

.cols4 {
  .col {
    width: 25%;
  }
}

.col {
  margin-right: 10px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  figcaption {
    margin-top: 24px;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: $cDarkGrey;
  }
  img {
    border-radius: 5px;
  }
}

.styled-table {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
  th {
    font-family: Helvetica-Light, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: normal;
    padding-bottom: 24px;
    border-bottom: 1px solid $cDarkGrey;
    padding-right: 80px;
    text-align: left;
  }
  tbody {
    tr {
      &:nth-child(even) {
        td {
          background: $cLightGrey;
        }
      }
    }
  }
  td {
    padding-bottom: 24px;
    padding-top: 24px;
    padding-right: 80px;
  }
}

.header-with-info {
  display: flex;
  align-items: center;
  .button {
    margin-left: auto;
  }
}

.header-bordered {
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid $cLightGrey;
  .header-right {
    margin-left: auto;
  }
}

.header-info {
  font-size: 14px;
  font-family: OpenSans-Regular, sans-serif;
  line-height: 19px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  color: $cDarkGrey;
}

.header-icon {
  font-size: 20px;
  color: $cRed;
  margin-right: 16px;
  path {
    stroke: $cMediumGrey;
    fill: transparent;
    transition: stroke .3s, fill .3s;
  }
  &:hover {
    cursor: pointer;
    path {
      stroke: $cRed;
    }
  }
  &.is-active {
    path {
      stroke: $cRed;
      fill: $cRed;
    }
  }
}

.loadmore-action {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

