{
  "presets": [
    ["@babel/preset-env",
    {
      "useBuiltIns": "usage",
      "targets": {
        "browsers": ["last 4 versions", "IE 11"]
      }
    }]
  ],
  "parserOpts": {
  	"plugins": ["transform-object-rest-spread", "transform-es2015-spread", "transform-es2015-destructuring"]
  }
}
