{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">О компании</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Структура компании</a>
        </li>
      </ul>
    </div>
    <div class="page-content">

    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
