{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">О компании</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Первые лица</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <h1 class="header-with-info">Первые лица
        <span class="header-info">
          <i class="header-icon">
            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5516 2.77872L12 1.87022L12.4484 2.77872L15.271 8.49791L21.5825 9.41503L22.585 9.56071L21.8596 10.2679L17.2925 14.7196L18.3707 21.0056L18.5419 22.0042L17.6452 21.5327L12 18.5649L6.35482 21.5327L5.45808 22.0042L5.62934 21.0056L6.70748 14.7196L2.14043 10.2679L1.41496 9.56071L2.41754 9.41503L8.72904 8.49791L11.5516 2.77872Z" stroke-linecap="round"/>
            </svg>
          </i>
        </span>
      </h1>
      <ul class="team-list">
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team1.jpg" srcset="img/img_team1.jpg, img/img_team1@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Высоцкий Олег Николаевич</p>
            <p class="team-list__job">Главный исполнительный директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team2.jpg" srcset="img/img_team2.jpg, img/img_team2@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Ли Анжелика Анатольевна</p>
            <p class="team-list__job">Главный финансовый директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team3.jpg" srcset="img/img_team3.jpg, img/img_team3@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Маляр Сергей Николаевич</p>
            <p class="team-list__job">Директор по эффективности персонала</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team4.jpg" srcset="img/img_team4.jpg, img/img_team4@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Вербий Ольга Анатольевна</p>
            <p class="team-list__job">Коммерческий директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team5.jpg" srcset="img/img_team5.jpg, img/img_team5@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Гришин Сергей Викторович</p>
            <p class="team-list__job">Главный исполнительный директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team6.jpg" srcset="img/img_team6.jpg, img/img_team6@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Гусев Николай Леонидович</p>
            <p class="team-list__job">Главный финансовый директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team7.jpg" srcset="img/img_team7.jpg, img/img_team7@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Першутов Александр Александрович</p>
            <p class="team-list__job">Директор по эффективности персонала</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team8.jpg" srcset="img/img_team8.jpg, img/img_team8@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Коняев Никита Владимирович </p>
            <p class="team-list__job">Коммерческий директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team9.jpg" srcset="img/img_team9.jpg, img/img_team9@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Богдашкин Владимир Юрьевич</p>
            <p class="team-list__job">Главный исполнительный директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team10.jpg" srcset="img/img_team10.jpg, img/img_team10@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Евенко Игорь Валентинович </p>
            <p class="team-list__job">Главный финансовый директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team11.jpg" srcset="img/img_team11.jpg, img/img_team11@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Ваганов Алексей Викторович</p>
            <p class="team-list__job">Директор по эффективности персонала</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team12.jpg" srcset="img/img_team12.jpg, img/img_team12@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Понтаплев Василий Викторович</p>
            <p class="team-list__job">Коммерческий директор</p>
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__avatar">
            <img src="img/img_team13.jpg" srcset="img/img_team13.jpg, img/img_team13@2x.jpg 2x" alt=""/>
          </div>
          <div class="team-list__info">
            <p class="team-list__name">Воробьева Елена Маратовна</p>
            <p class="team-list__job">Главный исполнительный директор</p>
          </div>
        </li>
      </ul>
    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
