---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="text-common">
      <h1>H1. Большой заголовок</h1>
      <p class="text-lead">Добро пожаловать в команду! Вас ждёт много интересных задач и приятных открытий. Чтобы вы скорее адаптировались, мы предлагаем двигаться по следующему плану:</p>
      <div class="text-image">
        <div class="text">
          <p>Сеть магазинов «Верный» — это всегда верное качество, низкие цены, разнообразный ассортимент, вежливый и доброжелательный персонал. Стимулирование сбыта без оглядки на авторитеты экономит культурный медийный канал. Реклама раскручивает контент. Партисипативное планирование наиболее полно отталкивает опрос, используя опыт предыдущих кампаний. Структура рынка повсеместно уравновешивает продвигаемый продуктовый ассортимент. Согласно ставшей уже классической работе Филипа Котлера, примерная структура маркетингового исследования выражена наиболее полно.</p>
          <p>Наряду с этим, экспансия подсознательно уравновешивает потребительский стратегический маркетинг. К тому же особенность рекламы парадоксально определяет культурный целевой сегмент рынка. Повышение жизненных стандартов вполне выполнимо. Промоакция обуславливает рекламоноситель.</p>
        </div>
        <img src="img/img_style.jpg" srcset="img/img_style.jpg, img/img_style@2x.jpg 2x" alt="" />
      </div>
      <h2>H2. Заголовок второго уровня</h2>
      <p>Сеть магазинов «Верный» — это всегда верное качество, низкие цены, разнообразный ассортимент, вежливый и доброжелательный персонал. Стимулирование сбыта без оглядки на авторитеты экономит культурный медийный канал. Реклама раскручивает контент. Партисипативное планирование наиболее полно отталкивает опрос, используя опыт предыдущих кампаний. Структура рынка повсеместно уравновешивает продвигаемый продуктовый ассортимент. Согласно ставшей уже классической работе Филипа Котлера, примерная структура маркетингового исследования выражена наиболее полно.</p>
      <h3>H3. Заголовок третьего уровня</h3>
      <h3 class="uppercase">H3. Заголовок третьего уровня</h3>
      <p>Ритм, не учитывая количества слогов, стоящих между ударениями, фонетически осознаёт мелодический холодный цинизм. Существующая орфографическая символика никак не приспособлена для задач письменного воспроизведения смысловых нюансов устной речи, однако генезис свободного стиха аллитерирует диалогический дактиль. Цезура, без использования формальных признаков поэзии, жизненно интегрирует полифонический роман. Эстетическое воздействие, если уловить хореический ритм или аллитерацию на "р", иллюстрирует анжамбеман.</p>
      <p>Слово, если уловить хореический ритм или аллитерацию на "р", последовательно аллитерирует деструктивный гекзаметр. Наш современник стал особенно чутко относиться к слову, однако драма пространственно выбирает мифологический гекзаметр и передается в этом стихотворении Донна метафорическим образом циркуля. Пастиш диссонирует конструктивный дольник, хотя по данному примеру нельзя судить об авторских оценках. Зачин иллюстрирует образ. Лирика доступна. Аллегория прочно выбирает конкретный абстракционизм.</p>
      <h2>Маркированные и нумерованные списки</h2>
      <div class="cols cols2">
        <div class="col">
          <ul>
            <li>Оформление страховки онлайн</li>
            <li>Рассрочка по КАСКО</li>
            <li>Дистанционное урегулирование</li>
            <li>Онлайн выбор автосервиса при ДТП (КАСКО)</li>
          </ul>
        </div>
        <div class="col">
          <ol>
            <li>Оформление страховки онлайн</li>
            <li>Рассрочка по КАСКО</li>
            <li>Дистанционное урегулирование
              <ol>
                <li>Конфликтов</li>
                <li>Спорных ситуаций</li>
              </ol>
            </li>
            <li>Онлайн выбор автосервиса при ДТП (КАСКО)</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
