{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">О компании</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Структура компании</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <h1 class="header-with-info">Вакансии в офисе
        <span class="header-info"><i class="header-icon">{{mixins.icon('star')}}</i>Добавлено в избранное</span>
      </h1>
      <form class="vacancies-filter cols cols4">
        <div class="col">
          <div class="form__row">
            <label for="select1" class="form__label">Отдел</label>
            <select name="room" id="select1">
              <option value="1">Любой</option>
              <option value="2">Первый</option>
              <option value="3">Маркетинг</option>
              <option value="4">Сервисный</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form__row">
            <label for="select2" class="form__label">Город</label>
            <select name="city" id="select2">
              <option value="1">Город</option>
              <option value="2">Москва</option>
              <option value="3">Питер</option>
              <option value="4">Магадан</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form__row">
            <label for="select3" class="form__label">Образование</label>
            <select name="education" id="select3">
              <option value="1">Выберите</option>
              <option value="2">Высшее</option>
              <option value="3">Среднее</option>
              <option value="4">Нет образования</option>
            </select>
          </div>
        </div>
      </form>
      <div class="vac-search-result">
        <ul class="vacancies-list">
          <li class="vacancies-item">
            <div class="vac-item__header">

            </div>
            <div class="vac-tem__body">
              <p>Поиск объектов под размещение универсамов в Москве, Мо. Изучение и анализ  технической документации, проведение переговоров с контрагентами, обследование закрепленной территории...
                Опты работы в развитии сетевой компании. Быть активным и мобильным, стремиться расти и равиваться в данном направлении. Рассматриваем так же...</p>
            </div>
          </li>
        </ul>
        <div class="vac-search-loadmore">
          <button class="button button--icon"><span class="button__icon">{{mixins.icon('refresh')}}</span>Показать больше</button>
        </div>
      </div>
    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
