{% set title = "Главная страница" %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <section class="main-page-primary">
      <h1>Корпоративный<br/>портал</h1>
      <div class="main-page-search-container">
        <form action="" class="main-page-search">
          <div class="mps-row">
            <input type="text" name="q" class="main-page-search-input" placeholder="Найди то, что тебе нужно!" />
            <button type="submit" class="main-page-search-submit">{{mixins.icon('search')}}</button>
          </div>
        </form>
      </div>
    </section>
    <section class="main-page-statistics">
      <div class="statistics-total">
        <span class="statistics-total-icon">{{mixins.icon('logo_map')}}</span>
        <span class="statistics-total-text">751</span>
      </div>
      <ul class="statistics-list">
        <li class="statistics-item">
          <div class="statistics-item-icon">{{mixins.icon('moscow')}}</div>
          <span class="statistics-item-count">424</span>
          <span class="statistics-item-text">Центральный<br/>филиал</span>
        </li>
        <li class="statistics-item">
          <div class="statistics-item-icon">{{mixins.icon('piter')}}</div>
          <span class="statistics-item-count">161</span>
          <span class="statistics-item-text">Северо-Западный<br/>филиал</span>
        </li>
        <li class="statistics-item">
          <div class="statistics-item-icon">{{mixins.icon('ekb')}}</div>
          <span class="statistics-item-count">130</span>
          <span class="statistics-item-text">Уральский<br/>филиал</span>
        </li>
        <li class="statistics-item">
          <div class="statistics-item-icon">{{mixins.icon('kazan')}}</div>
          <span class="statistics-item-count">36</span>
          <span class="statistics-item-text">Приволжский<br/>филиал</span>
        </li>
      </ul>
    </section>
    <section class="main-page-benefits">
      <svg width="0" height="0" style="position: absolute;">
        <defs>
          <clipPath id="rightClip" clipPathUnits="objectBoundingBox" transform="scale(0.00155, 0.00126)">
            <path d="M0 50C0 22.3858 22.3858 0 50 0H648L439 800H50C22.3858 800 0 777.614 0 750V50Z"/>
          </clipPath>
        </defs>
      </svg>
      <svg width="0" height="0" style="position: absolute;">
        <defs>
          <clipPath id="leftClip" clipPathUnits="objectBoundingBox" transform="scale(0.00135, 0.00125)">
            <path d="M740 50C740 22.3858 717.614 0 690 0H209L0 800H690C717.614 800 740 777.614 740 750V50Z"/>
          </clipPath>
        </defs>
      </svg>
      <svg width="0" height="0" style="position: absolute;">
        <defs>
          <clipPath id="bottomClip" clipPathUnits="objectBoundingBox" transform="scale(0.00289, 0.004608)">
            <path d="M0 50C0 22.3858 22.3858 0 50 0H296C323.614 0 346 22.3858 346 50V161.5L0 217V50Z"/>
          </clipPath>
        </defs>
      </svg>

      <ul class="benefits-list">
        <li class="benefits-list-item">
          <div class="benefits-list-image">
            <picture class="benefits-img">
              <source srcset="img/img_block_hor1.jpg" media="(max-width: 768px)"/>
              <source srcset="img/img_block_hor1@2x.jpg 2x" media="(max-width: 768px)"/>
              <source srcset="img/img_block1@2x.jpg 2x"/>
              <img src="img/img_block1.jpg"/>
            </picture>
          </div>
          <div class="benefits-list-info">
            <h2 class="benefits-header">Портфель<br/>директора</h2>
            <p class="benefits-text">Все для магазинов, меморандумы, приемка, промо, ЕГАИС, ТСД и тд.</p>
            <div class="benefits-action"><a href="#" class="button button--medium">Перейти</a></div>
          </div>
        </li>
        <li class="benefits-list-item">
          <div class="benefits-list-image">
            <picture class="benefits-img">
              <source srcset="img/img_block_hor2.jpg" media="(max-width: 768px)"/>
              <source srcset="img/img_block_hor2@2x.jpg 2x" media="(max-width: 768px)"/>
              <source srcset="img/img_block2@2x.jpg 2x"/>
              <img src="img/img_block2.jpg"/>
            </picture>
          </div>
          <div class="benefits-list-info">
            <h2 class="benefits-header">Новому<br/>сотруднику</h2>
            <p class="benefits-text">Компания «Верный» приветствует новых сотрудников! Здесь вы найдете свой план адаптации, узнаете о стажировке, а также о истории Компании и многое другое.</p>
            <div class="benefits-action"><a href="#" class="button button--medium">Пройти обучение</a></div>
          </div>
        </li>
        <li class="benefits-list-item">
          <div class="benefits-list-image">
            <picture class="benefits-img">
              <source srcset="img/img_block_hor3.jpg" media="(max-width: 768px)"/>
              <source srcset="img/img_block_hor3@2x.jpg 2x" media="(max-width: 768px)"/>
              <source srcset="img/img_block3@2x.jpg 2x"/>
              <img src="img/img_block3.jpg"/>
            </picture>
          </div>
          <div class="benefits-list-info">
            <h2 class="benefits-header">Корпоративная<br/>культура</h2>
            <p class="benefits-text">Здесь вы найдете Корпоративные ценности, видео и фото с мероприятия, Корпоративную газету и многое другое!</p>
            <div class="benefits-action"><a href="#" class="button button--medium">Подробнее</a></div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</main>

{% endblock %}
