{% set title = "Страница 404" %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="page-content">
      <div class="page404">
        <div class="page404-inner">
          <div class="num404">4&nbsp;&nbsp;&nbsp;4 <i class="peach"><img src="img/img_4041.png" srcset="img/img_4041.png, img/img_4041@2x.png 2x" alt=""/></i></div>
          <h1 class="header404">Страница не найдена</h1>
          <p class="text404">К сожалению, такой страницы не существует. Попробуйте вернуться на главную страницу и выполнить другой запрос.</p>
          <div class="action404">
            <a href="/" class="button button--medium">Перейти на главную</a>
          </div>
        </div>
        <i class="fruit404 str404"><img src="img/img_4042.png" srcset="img/img_4042.png, img/img_4042@2x.png 2x" alt=""/></i>
        <i class="fruit404 berry1404"><img src="img/img_4043.png" srcset="img/img_4043.png, img/img_4043@2x.png 2x" alt=""/></i>
        <i class="fruit404 berry2404"><img src="img/img_4044.png" srcset="img/img_4044.png, img/img_4044@2x.png 2x" alt=""/></i>
        <i class="fruit404 broc404"><img src="img/img_4045.png" srcset="img/img_4045.png, img/img_4045@2x.png 2x" alt=""/></i>
        <i class="fruit404 onion404"><img src="img/img_4046.png" srcset="img/img_4046.png, img/img_4046@2x.png 2x" alt=""/></i>
      </div>
    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
