---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="text-common">
      <h1>H1. Большой заголовок</h1>
      <p class="text-lead">Добро пожаловать в команду! Вас ждёт много интересных задач и приятных открытий. Чтобы вы скорее адаптировались, мы предлагаем двигаться по следующему плану:</p>
      <div class="text-image">
        <div class="text">
          <p>Сеть магазинов «Верный» — это всегда верное качество, низкие цены, разнообразный ассортимент, вежливый и доброжелательный персонал. Стимулирование сбыта без оглядки на авторитеты экономит культурный медийный канал. Реклама раскручивает контент. Партисипативное планирование наиболее полно отталкивает опрос, используя опыт предыдущих кампаний. Структура рынка повсеместно уравновешивает продвигаемый продуктовый ассортимент. Согласно ставшей уже классической работе Филипа Котлера, примерная структура маркетингового исследования выражена наиболее полно.</p>
          <p>Наряду с этим, экспансия подсознательно уравновешивает потребительский стратегический маркетинг. К тому же особенность рекламы парадоксально определяет культурный целевой сегмент рынка. Повышение жизненных стандартов вполне выполнимо. Промоакция обуславливает рекламоноситель.</p>
        </div>
        <img src="img/img_style.jpg" srcset="img/img_style.jpg, img/img_style@2x.jpg 2x" alt=""/>
      </div>
      <h2>H2. Заголовок второго уровня</h2>
      <p>Сеть магазинов «Верный» — это всегда верное качество, низкие цены, разнообразный ассортимент, вежливый и доброжелательный персонал. Стимулирование сбыта без оглядки на авторитеты экономит культурный медийный канал. Реклама раскручивает контент. Партисипативное планирование наиболее полно отталкивает опрос, используя опыт предыдущих кампаний. Структура рынка повсеместно уравновешивает продвигаемый продуктовый ассортимент. Согласно ставшей уже классической работе Филипа Котлера, примерная структура маркетингового исследования выражена наиболее полно.</p>
      <h3>H3. Заголовок третьего уровня</h3>
      <h3 class="uppercase">H3. Заголовок третьего уровня</h3>
      <p>Ритм, не учитывая количества слогов, <a href="#">и псевдоссылок</a>, стоящих между ударениями, фонетически осознаёт мелодический холодный цинизм. Существующая орфографическая символика никак не приспособлена для задач письменного воспроизведения смысловых нюансов устной речи, однако генезис свободного стиха аллитерирует диалогический дактиль. Цезура, без использования формальных признаков поэзии, жизненно интегрирует полифонический роман. Эстетическое воздействие, если уловить хореический ритм или аллитерацию на "р", иллюстрирует анжамбеман.</p>
      <p>Слово, если уловить <a href="http://google.com">Вот такая ссылка</a> хореический ритм или аллитерацию на "р", последовательно аллитерирует деструктивный гекзаметр. Наш современник стал особенно чутко относиться к слову, однако драма пространственно выбирает мифологический гекзаметр и передается в этом стихотворении Донна метафорическим образом циркуля. Пастиш диссонирует конструктивный дольник, хотя по данному примеру нельзя судить об авторских оценках. Зачин иллюстрирует образ. Лирика доступна. Аллегория прочно выбирает конкретный абстракционизм.</p>
      <h2>Маркированные и нумерованные списки</h2>
      <div class="cols cols2">
        <div class="col">
          <ul>
            <li>Оформление страховки онлайн</li>
            <li>Рассрочка по КАСКО</li>
            <li>Дистанционное урегулирование</li>
            <li>Онлайн выбор автосервиса при ДТП (КАСКО)</li>
          </ul>
        </div>
        <div class="col">
          <ol>
            <li>Оформление страховки онлайн</li>
            <li>Рассрочка по КАСКО</li>
            <li>Дистанционное урегулирование
              <ol>
                <li>Конфликтов</li>
                <li>Спорных ситуаций</li>
              </ol>
            </li>
            <li>Онлайн выбор автосервиса при ДТП (КАСКО)</li>
          </ol>
        </div>
      </div>
    </div>
    <h2>Элементы форм</h2>
    <form action="">
      <h3>Текстовые поля</h3>
      <div class="cols cols2">
        <div class="col">
          <fieldset class="form__row form__row--disabled">
            <label for="input1" class="form__label">Поле ввода</label>
            <input type="text" class="form__input" name="text-input" id="input1"/>
          </fieldset>
          <fieldset class="form__row form__row--error">
            <label for="input3" class="form__label">Поле ввода с ошибкой<sup class="form__label-required">*</sup></label>
            <input type="text" class="form__input form__input--error" name="text-input" id="input3"/>
            <div class="form__error">Обязательно для заполнения</div>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="form__row form__row--disabled">
            <label for="input2" class="form__label">неактивное поле ввода</label>
            <input type="text" class="form__input" disabled name="text-input" id="input2"/>
          </fieldset>
          <fieldset class="form__row">
            <label for="input4" class="form__label">Многострочный текст</label>
            <textarea type="text" class="form__textarea" name="text-input" id="input4"></textarea>
          </fieldset>
        </div>
      </div>
      <h3>Чекбоксы</h3>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check1"/>
          <label for="check1">Чекбокс</label>
        </div>
      </fieldset>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check2" disabled/>
          <label for="check2">Неактивный чекбокс</label>
        </div>
      </fieldset>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check3" disabled checked/>
          <label for="check3">Неактивный выбранный чекбокс</label>
        </div>
      </fieldset>
      <h3>Чекбоксы в строчку</h3>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check5"/>
          <label for="check5">Чекбокс 1</label>
        </div>
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check6"/>
          <label for="check6">Чекбокс 2</label>
        </div>
        <div class="form__checkbox">
          <input type="checkbox" name="check" id="check7"/>
          <label for="check7">Чекбокс 3</label>
        </div>
      </fieldset>
      <h3>Радиокнопки</h3>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="radio" name="radio" id="radio1"/>
          <label for="radio1">Радиокнопка</label>
        </div>
      </fieldset>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="radio" name="radio" id="radio2"/>
          <label for="radio2">Радиокнопка</label>
        </div>
      </fieldset>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="radio" disabled name="radio3" id="radio9"/>
          <label for="radio9">Радиокнопка недоступна</label>
        </div>
      </fieldset>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="radio" name="radio3" id="radio10" checked disabled/>
          <label for="radio10">Радиокнопка выбрана и недоступна</label>
        </div>
      </fieldset>

      <h3>Радиокнопки в строчку</h3>
      <fieldset class="form__row form__row--checkbox">
        <div class="form__checkbox">
          <input type="radio" name="radio2" id="radio3"/>
          <label for="radio3">Радиокнопка</label>
        </div>
        <div class="form__checkbox">
          <input type="radio" name="radio2" id="radio4"/>
          <label for="radio4">Радиокнопка</label>
        </div>
        <div class="form__checkbox">
          <input type="radio" name="radio2" id="radio5"/>
          <label for="radio5">Радиокнопка</label>
        </div>
      </fieldset>
    </form>

    <h3>Кнопки</h3>
    <div class="form__action">
      <a href="#" class="button">Кнопка-ссылка</a>
      <a href="#" class="button button--disabled">Кнопка-ссылка недоступна</a>
      <a href="/" class="download-doc">
        <span class="download-doc-icon">{{mixins.icon('download_doc')}}</span>
        <div class="download-doc-info">
          <span class="download-doc-name">Техническая документация с длинным названием</span>
          <span class="download-doc-meta">PDF, 5 МБ</span>
        </div>
      </a>
    </div>
    <div class="form__action">
      <button class="button" type="submit">Кнопка сабмита</button>
      <button class="button button--icon" type="submit"><span class="button__icon">{{mixins.icon('refresh')}}</span>Показать еще</button>
      <button class="button" type="submit" disabled>Кнопка сабмита недоступна</button>
    </div>

    <h2>Пагинация</h2>
    <ul class="pagination-list">
      <li class="pagination-item pagination-item--prev"><a href="#" class="pagination-action pagination-action--inactive">{{mixins.icon('prev')}}</a></li>
      <li class="pagination-item"><a href="#" class="pagination-link">1</a></li>
      <li class="pagination-item"><a href="#" class="pagination-link pagination-link--current">2</a></li>
      <li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
      <li class="pagination-item">...</li>
      <li class="pagination-item"><a href="#" class="pagination-link">13</a></li>
      <li class="pagination-item"><a href="#" class="pagination-link">14</a></li>
      <li class="pagination-item"><a href="#" class="pagination-link">15</a></li>
      <li class="pagination-item pagination-item--next"><a href="#" class="pagination-action pagination-action--active">{{mixins.icon('next')}}</a></li>
    </ul>

    <h2>Табы</h2>
    <div class="tabs">
      <ul class="tabs-list">
        <li class="tabs-item">
          <a href="#tab1" class="tabs-link tabs-link--active">Вкладка 1</a>
        </li>
        <li class="tabs-item">
          <a href="#tab2" class="tabs-link">Вкладка 2</a>
        </li>
        <li class="tabs-item">
          <a href="#tab2" class="tabs-link">Вкладка 3</a>
        </li>
      </ul>
      <section class="tabs-content tabs-content--active" id="tab1">
        <div class="text-common">
          <h3>Вкладка 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error hic, impedit nemo numquam officia quas quis temporibus voluptate? A deserunt dicta doloribus eos eum nam nihil non rerum totam.</p>
        </div>
      </section>
      <section class="tabs-content" id="tab2">
        <div class="text-common">
          <h3>Вкладка 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error hic, impedit nemo numquam officia quas quis temporibus voluptate? A deserunt dicta doloribus eos eum nam nihil non rerum totam.</p>
        </div>
      </section>
    </div>

    <h2>Акордион</h2>
    <div class="accordion">
      <section class="accordion__section accordion__section--expanded">
        <h3>
          <button class="accordion__trigger">
            Секция акордиона 1
            <span class="accordion__icon">{{mixins.icon('collapse')}}</span>
          </button>
        </h3>
        <div class="accordion__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor, ducimus et hic ipsa itaque labore libero nam numquam odit possimus quam quasi quia rem repellat, repudiandae suscipit ullam veniam.</p>
          <p>A aperiam asperiores consequuntur culpa dolores ducimus error eveniet, fugiat iure laborum minus mollitia obcaecati odio quasi, ratione velit vitae. Animi atque commodi dignissimos harum nemo quas reprehenderit, tenetur vitae.</p>
        </div>
      </section>
      <section class="accordion__section">
        <h3>
          <button class="accordion__trigger">
            Секция акордиона 2
            <span class="accordion__icon">{{mixins.icon('collapse')}}</span>
          </button>
        </h3>
        <div class="accordion__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor, ducimus et hic ipsa itaque labore libero nam numquam odit possimus quam quasi quia rem repellat, repudiandae suscipit ullam veniam.</p>
          <p>A aperiam asperiores consequuntur culpa dolores ducimus error eveniet, fugiat iure laborum minus mollitia obcaecati odio quasi, ratione velit vitae. Animi atque commodi dignissimos harum nemo quas reprehenderit, tenetur vitae.</p>
        </div>
      </section>
    </div>
    <h2>Картинка с подписью</h2>
    <figure class="figure">
      <img src="img/picture.jpg" srcset="img/picture.jpg, img/picture@2x.jpg 2x" alt="Картинка"/>
      <figcaption>Подпись под картинкой</figcaption>
    </figure>
    <h2>Поиск с подсказками</h2>
    <form action="" class="search-form">
      <div class="search-form-input">
        <input type="text" name="search" placeholder="Поиск" class="search-form-text js-autosuggest-input"/>
        <button type="submit" class="search-form-submit"><span class="search-icon">{{mixins.icon('search_thin')}}</span></button>
      </div>
      <div class="search-form-autosuggest js-autosuggest-list">
        <section class="autosuggest-section">
          <h3>Найдено: 2 сотрудника</h3>
          <ul class="employee__list">
            <li class="employee__item">
              <div class="employee__avatar"></div>
              <div class="employee__info">
                <p class="employee-name">Юлия <span class="autosuggest-equal">Евг</span>енская</p>
                <p class="employee-job">Менеджер по развитию</p>
              </div>
              <ul class="employee-action__list">
                <li class="employee-action__item">
                  <button class="employee-action__button">{{mixins.icon('do_comment')}}</button>
                </li>
                <li class="employee-action__item">
                  <button class="employee-action__button employee-action__button--primary">{{mixins.icon('call')}}</button>
                </li>
              </ul>
            </li>
            <li class="employee__item">
              <div class="employee__avatar"></div>
              <div class="employee__info">
                <p class="employee-name"><span class="autosuggest-equal">Евг</span>ений Ларионов</p>
                <p class="employee-job">Менеджер по развитию</p>
              </div>
              <ul class="employee-action__list">
                <li class="employee-action__item">
                  <button class="employee-action__button">{{mixins.icon('do_comment')}}</button>
                </li>
                <li class="employee-action__item">
                  <button class="employee-action__button employee-action__button--primary">{{mixins.icon('call')}}</button>
                </li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="autosuggest-section">
          <h3>2 файла</h3>
          <ul class="files-list">
            <li class="files-item">
              <a href="/" class="download-doc">
                <span class="download-doc-icon">{{mixins.icon('download_doc')}}</span>
                <div class="download-doc-info">
                  <span class="download-doc-name">Евгения_политического_конфликта</span>
                  <span class="download-doc-meta">PDF, 9 КБ, 2 сентября 2017 в 2:05 </span>
                </div>
              </a>
            </li>
            <li class="files-item">
              <a href="/" class="download-doc">
                <span class="download-doc-icon">{{mixins.icon('download_doc')}}</span>
                <div class="download-doc-info">
                  <span class="download-doc-name">Согласно_евгения_классификации_политическая</span>
                  <span class="download-doc-meta">DOC, 809 КБ, 2 сентября 2017 в 2:05 </span>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </form>
    <h2>Таблица</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th>№&nbsp;документа</th>
          <th>Тип документа</th>
          <th>Короткое содержание</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>00023134</td>
          <td>Уведомление об участнике обмена</td>
          <td>Ежедневное автоматическое уведомление об актуальных объектах</td>
        </tr>
        <tr>
          <td>00023134</td>
          <td>Уведомление об участнике обмена</td>
          <td>Оперативная и автоматизированная передача заказов Х5 поставщикам, техническая поддержка, контроль и мониторинг передачи заказов</td>
        </tr>
        <tr>
          <td>00023134</td>
          <td>Уведомление об участнике обмена</td>
          <td>Ежедневное автоматическое уведомление об актуальных объектах</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
