{% set title = "Конкурсы (вариант 1)" %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Тусовка</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <h1 class="header-with-info">Конкурсы
        <span class="header-info">
          <i class="header-icon">
            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5516 2.77872L12 1.87022L12.4484 2.77872L15.271 8.49791L21.5825 9.41503L22.585 9.56071L21.8596 10.2679L17.2925 14.7196L18.3707 21.0056L18.5419 22.0042L17.6452 21.5327L12 18.5649L6.35482 21.5327L5.45808 22.0042L5.62934 21.0056L6.70748 14.7196L2.14043 10.2679L1.41496 9.56071L2.41754 9.41503L8.72904 8.49791L11.5516 2.77872Z" stroke-linecap="round"/>
            </svg>
          </i>
        </span>
        <a href="/" class="header-link">Архив</a>
      </h1>
      <div class="contests">
        <ul class="contests-list contests-list--type2">
          <li class="contest-item contest-item--big">
            <a href="/" class="contest-item-link">
              <div class="contest-image"><img src="img/img_contest1.jpg" srcset="img/img_contest1.jpg, img/img_contest1@2x.jpg 2x" alt=""/></div>
              <div class="contest-body">
                <div class="contest-name">Лучший магазин на вашей улице</div>
                <span class="contest-date">Май-август 2019</span>
              </div>
            </a>
          </li>
          <li class="contest-item">
            <a href="/" class="contest-item-link">
              <div class="contest-image"><img src="img/img_contest1.jpg" srcset="img/img_contest1.jpg, img/img_contest1@2x.jpg 2x" alt=""/></div>
              <div class="contest-body">
                <div class="contest-name">Лучший магазин на вашей улице</div>
                <span class="contest-date">Май-август 2019</span>
              </div>
            </a>
          </li>
          <li class="contest-item">
            <a href="/" class="contest-item-link">
              <div class="contest-image"><img src="img/img_contest2.jpg" srcset="img/img_contest2.jpg, img/img_contest2@2x.jpg 2x" alt=""/></div>
              <div class="contest-body">
                <div class="contest-name">Лучший магазин на вашей улице</div>
                <span class="contest-date">Май-август 2019</span>
              </div>
            </a>
          </li>
          <li class="contest-item">
            <a href="/" class="contest-item-link">
              <div class="contest-image"><img src="img/img_contest3.jpg" srcset="img/img_contest3.jpg, img/img_contest3@2x.jpg 2x" alt=""/></div>
              <div class="contest-body">
                <div class="contest-name">Лучший магазин на вашей улице</div>
                <span class="contest-date">Май-август 2019</span>
              </div>
            </a>
          </li>
        </ul>
        <div class="loadmore-action">
          <button class="button button--wired button--medium"><span class="button__icon">{{mixins.icon('refresh')}}</span>Показать больше</button>
        </div>
      </div>
    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
