{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper wrapper--rel">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="page-main.html" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="page-vacancies.html" class="breadcrumbs-link">Вакансии</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">В офисе</a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <h1 class="header-with-info">Директор магазина (м. Молодежная)</h1>
      <div class="text-common">
        <h3>от 62 000 до 83 000 руб. до вычета НДФЛ</h3>
        <p>Требуемый опыт работы: 1–3 года <br/>
          Полная занятость, полный день</p>
        <h3>Обязанности</h3>
        <ul>
          <li>100% выполнение плана по товарообороту</li>
          <li>Управление товарными запасами</li>
          <li>Управление потерями</li>
          <li>Управление персоналом</li>
          <li>Соблюдение чистоты в зале</li>
          <li>Создание атмосферы доброжелательности</li>
        </ul>
        <h3>Требования</h3>
        <ul>
          <li>Опыт управления магазином розничной сети (продукты питания) от 1 года;</li>
          <li>Умение управлять коллективом;</li>
          <li>Умение рассчитывать объем заказа товара;</li>
          <li>Умение работать с планограммами;</li>
          <li>Свободное владение ПК.</li>
        </ul>
        <h3>Условия</h3>
        <ul>
          <li>Высокий уровень дохода (постоянная часть 62 000 + премиальная часть).</li>
          <li>Современные розничные технологии (электронные ценники, ролл-кейджи и т.д.)</li>
          <li>Современное торговое оборудование;</li>
          <li>Возможность принимать решение по приему сотрудников магазина и их премированию;</li>
          <li>Доступность руководства и быстрое принятие решений;</li>
          <li>Возможность стать супервайзером и управлять группой магазинов.</li>
        </ul>
      </div>
      <div class="form__action">
        <a href="#" class="button">Откликнуться</a>
      </div>

      <div class="vacancies-similar">
        <p class="vacancies-similar-header">Похожие вакансии</p>
        <div class="vac-search-result">
          <ul class="vacancies-list">
            <li class="vacancies-item">
              <div class="vac-item__header">
                <div class="vac-item__summary">
                  <a href="page-vacancy.html" class="vac-item__name">Супервайзер / Руководитель группы магазинов</a>
                  <span class="vac-item__city">г. Москва</span>
                </div>
                <span class="vac-item__price">
                от 90 000 ₽
              </span>
              </div>
              <div class="vac-item__body">
                <p>Контроль за соблюдением стандартов работы магазинов. Участие в открытии магазинов,плановые проверки магазинов согласно поставленных задач. Анализ конкурентной среды, контроль...
                  Опыт работы в должности Супервайзера, Руководителя отдела продаж, Руководителя группы магазинов от 1 года в торговых сетях (продукты питания!).</p>
              </div>
            </li>
            <li class="vacancies-item">
              <div class="vac-item__header">
                <div class="vac-item__summary">
                  <a href="page-vacancy.html" class="vac-item__name">Специалист по перепланировкам</a>
                  <span class="vac-item__city">г. Москва</span>
                </div>
                <span class="vac-item__price">от 60 000 ₽</span>
              </div>
              <div class="vac-item__body">
                <p>Работа с арендованным недвижимым имуществом на предмет согласования перепланировки. Работа с проектной документацией. Ведение переговоров с арендодателями по вопросам необходимых...
                  Высшее образование (ПГС). Опыт работы от 3-х лет. Знание MS Office, AutoCAD.</p>
              </div>
            </li>
            <li class="vacancies-item">
              <div class="vac-item__header">
                <div class="vac-item__summary">
                  <a href="page-vacancy.html" class="vac-item__name">Заместитель директора магазина (м. Отрадное)</a>
                  <span class="vac-item__city">г. Москва</span>
                </div>
                <span class="vac-item__price">от 38 000 - 51 000 ₽</span>
              </div>
              <div class="vac-item__body">
                <p>Качественная приемка товара от сторонних поставщиков и собственных распределительных центров. Отслеживание сопроводительной документации. Ведение Главной кассы. Открытие и закрытие магазина.
                  Понимание сопроводительной документации. Опыт работы с Главной кассой. Опыт работы товароведом, администратором, старшим кассиром в продуктовом магазине. Свободное владение ПК.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>



    </div> <!-- .page-content -->
  </div> <!-- .wrapper -->
</main>

{% endblock %}
