.new-steps {
  margin-top: 54px;
}

.new-steps-item {
  display: flex;
  align-items: center;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .new-steps-image {
      margin-right: 0;
      margin-left: 72px;
    }
  }
  + .new-steps-item {
    margin-top: 96px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
}

.new-steps-image {
  border-radius: 50px 0 50px 0;
  overflow: hidden;
  width: 500px;
  height: 324px;
  margin-right: 72px;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.new-steps-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-steps-step {
  font-family: Helvetica-Light, sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 4px 16px;
  background: $cLightGrey;
  border-radius: 10px 0 10px 0;
}


.new-steps-header {
  margin-bottom: 16px;
  margin-top: 24px;
}

.new-steps-descr {

}

.info-bar {
  margin-top: 88px;
  border-radius: 10px;
  border: 1px solid $cMediumGrey;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  font-family: Helvetica-Thin, sans-serif;
  font-size: 24px;
  margin-bottom: 120px;
}

a.info-bar-link {
  color: $cRed;
  text-decoration: underline;
  border-bottom: 0;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 1024px) {
  .new-steps-item + .new-steps-item {
    margin-top: 64px;
  }
  .new-steps-image {
    width: calc(50% - 32px);
    height: 324px;
    margin-right: 32px;
    img {
    }
  }
  .info-bar {
    padding-left: 24px;
    padding-right: 24px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .new-steps-item {
    flex-direction: column-reverse;
    &:nth-child(2n) {
      flex-direction: column-reverse;
      .new-steps-image {
        margin-left: 0;
      }

    }
  }
  .new-steps-image {
    width: 100%;
    margin-right: 0;
    margin-top: 32px;
  }
}

@media (max-width: 475px) {
  .new-steps-image {
    height: auto;
    img {
      display: block;
    }
  }
  .info-bar {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 64px;
  }
}
