.votes {
  padding-bottom: 96px;
}

.votes-list {
  position: relative;
  display: block;
}

.votes-item {
  display: block;
  width: 380px;
  margin-bottom: 20px;
}

.votes-card {
  border-radius: 50px 0 50px 0;
  border:1px solid $cLightGrey;
  padding: 40px;
}

.votes-type {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.votes-header {
  font-family: Helvetica-Light, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 32px;
}

.votes-form {

}

.votes-total {
  margin-top: 32px;
  font-size: 14px;
  line-height: 19px;
  color: $cDarkGrey;
}

.votes-author {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.votes-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.votes-author-name {
  margin-left: 16px;
}
