.structure {

}

.struct-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.struct-item {
  width: calc((100% - 100px) / 2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 64px;
  &:nth-child(odd) {
    margin-left: 100px;
  }
  &:first-child {
    width: 100%;
    padding-bottom: 64px;
    border-bottom: 1px solid $cLightGrey;
    margin-left: 0;
  }
}

.struct-icon {
  width: 140px;
  height: 140px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid $cMediumGrey;
  border-radius: 50px 0 50px 0;
  font-size: 70px;
  margin-right: 48px;
}

.struct-content {
  display: flex;
  flex-direction: column;
  max-width: 890px;

}

.struct-header {
  font-family: Helvetica-Light, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #414141;
  margin-bottom: 16px;
}

.struct-body {
  line-height: 26px;
}

@media (max-width: 1024px) {
  .struct-icon {
    margin-right: 24px;
    width: 120px;
    height: 120px;
  }

  .struct-item {
    width: calc((100% - 32px) / 2);
    margin-left: 0;
  }

  .struct-item:nth-child(2n+3) {
    margin-left: 32px;
  }
}

@media (max-width: 800px) {
  .struct-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .struct-item:nth-child(2n+3) {
    margin-left: 0;
  }
  .struct-item:first-child {
    padding-bottom: 32px;
  }
}

@media (max-width: 475px) {
  .struct-icon {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}

@media (max-width: 413px) {
  .struct-item {
    flex-direction: column;
  }
  .struct-icon {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
