.events-actions-list {
  display: flex;
  align-items: center;
}

.events-actions-item {

}

.events-action {
  background: transparent;
  display: flex;
  align-items: center;
  margin-right: 24px;
  &:hover {
    .events-action-icon {
      color: $cRed;
    }
  }
}

.events-action-icon {
  font-size: 20px;
  color: $cDarkGrey;
  transition: color .3s;
}

.events-action-icon--active {
  color: $cRed;
}

.events-action-count {
  margin-left: 16px;
  font-size: 14px;
  line-height: 19px;
  color: #414141;
}
