.page404 {
  margin-bottom: 120px;
  position: relative;
  margin-top: 72px;
}

.page404-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.num404 {
  font-family: Helvetica-Thin, sans-serif;
  font-size: 288px;
  line-height: 348px;
  position: relative;
}

.peach {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header404 {

}

.text404 {

}

.action404 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.fruit404 {
  position: absolute;
}

.str404 {
  left: 70px;
  top: -50px;
}

.berry1404 {
  right: 391px;
  top: -97px;

}

.berry2404 {
  right: 12px;
  top: 5px;

}

.broc404 {
  left: 14px;
  top: 376px;

}

.onion404 {
  right: -40px;
  top: 280px;

}
