.main-page-primary {
  padding-top: 140px;
  padding-bottom: 252px;
  &:before {
    content: '';
    width: calc((732 / 1000) * 100%) ;
    max-width: 720px;
    padding-bottom: 125.68%;
    @include image('img_cart.jpg');
    position: absolute;
    right: 70px;
    top: -160px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1 {
    font-family: "Helvetica-Thin", sans-serif;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 38px;
    font-weight: normal;
    position: relative;
  }
}

.main-page-search-container {
  width: 502px;
}

.main-page-search {
  position: relative;
}

input.main-page-search-input {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSans-Light", sans-serif;
  padding: 16px 30px;
  background: #FFFFFF;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 4px 20px rgba(153, 153, 153, 0.13);
  &::-webkit-input-placeholder {color: $cSemiBlack;}
  &::-moz-placeholder {color: $cSemiBlack;}
  &:-moz-placeholder {color: $cSemiBlack;}
  &:-ms-input-placeholder {color: $cSemiBlack;}
}

.main-page-search-submit {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: transparent;
  color: $cRed;
}

.main-page-statistics {
  margin-top: 160px;
  margin-bottom: 120px;
  background: linear-gradient(256.53deg, #FCFCFC 5.98%, #EEECEB 97.16%);
  border-radius: 50px;
  display: flex;
  overflow: hidden;
}

.statistics-total {
  width: 377px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
  padding-top: 40px;
  &:before {
    content: '';
    position: absolute;
    background: $cRed;
    width: 120%;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: 100% 0;
    transform: skewX(-15deg);
  }

}

.statistics-total-icon, .statistics-total-text {
  position: relative;
}

.statistics-total-icon {
  font-size: 80px;
  .icon-logo_map {
    fill: none;
  }
}

.statistics-total-text {
  margin-left: 16px;
  margin-top: 16px;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 61px;
  line-height: 74px;
  color: #ffffff;
}

.statistics-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 38px;

}

.statistics-item {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.statistics-item-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  svg {
    fill: none;
  }
}

.icon-moscow {
  font-size: 60px;
}

.icon-piter {
  font-size: 66px;
}

.icon-ekb {
  font-size: 46px;
}

.icon-kazan {
  font-size: 52px;
}

.statistics-item-count {
  font-size: 61px;
  line-height: 71px;
  font-family: "Helvetica-UltraLight", sans-serif;
  margin-bottom: 8px;
  margin-top: 28px;
}

.statistics-item-text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}



.main-page-benefits {
  margin-bottom: 96px;
}

.benefits-list {

}

.benefits-list-item {
  display: flex;
  background: linear-gradient(264.94deg, rgba(252, 252, 252, .3) 5.98%, rgba(238, 236, 235, .3) 97.16%);
  border-radius: 50px;
  margin-bottom: 64px;
  overflow: hidden;
  &:nth-child(2) {
    flex-direction: row-reverse;
    .benefits-list-image {
      width: 65%;
    }
    .benefits-list-info {
      width: 35%;
      padding-left: 80px;
    }
    .benefits-img {
      padding-bottom: 108.1081%;
      img {
        clip-path: url(#leftClip);
      }
    }
  }
}

.benefits-img {
  width: 100%;
  position: relative;
  padding-bottom: 123.45679%;
  display: block;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    clip-path: url(#rightClip);
  }
}

.benefits-list-image {
  width: 57%;
}

.benefits-list-info {
  width: 43%;
  margin-top: 0;
  padding-left: 52px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits-header {
  font-family: "Helvetica-UltraLight", sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 32px;
}

.benefits-text {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.benefits-action {
  margin-top: 64px;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .main-page-primary::before {
    width: 60vw;
    right: 1vw;
    background-size: contain;
  }
}

@media (max-width: 1024px) {
  .benefits-list-item {
    &:nth-child(2n) {
      .benefits-list-image, .benefits-list-info {

        width: 50%;
      }

    }
  }

  .benefits-list-image {
    width: 50%;
    height: auto;
    flex-shrink: 0;
  }

  .benefits-list-info {
    width: 50%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-page-statistics {
    margin-top: 0;
  }
}

@media (max-width: 959px) {
  .main-page-primary {
    padding-bottom: 50vw;
    position: relative;
    padding-top: 0;
    text-align: center;
    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
      height: 50vw;
      width: auto;
      padding-bottom: 0;
      background-size: contain;
      background-position: 50% 50%;
    }
  }
  .main-page-search-container {
    margin-left: auto;
    margin-right: auto;
  }
  .main-page-statistics {
    margin-top: 0;
    display: flex;
    flex-direction: column;

  }

  .statistics-total {
    flex-shrink: 0;
    width: 100%;
    height: 340px;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      transform: skewY(-5deg) ;
      top: -30%;
      bottom: 24%;
    }
  }

  .statistics-list {
    flex-wrap: wrap;
    padding-right: 0;
  }


  .statistics-item {
    width: 50%;
    padding-top: 0;
  }

  .benefits-list-item {
    &:nth-child(2n) {
      .benefits-list-info {
        padding-left: 40px;
      }
    }
  }

  .benefits-header {
    font-size: 36px;
    line-height: 40px;
  }

  .benefits-action {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .benefits-list-item {
    flex-direction: column;
    &:nth-child(2n) {
      flex-direction: column;
      .benefits-list-image {
        width: 100%;
        img {
          clip-path: url(#bottomClip);
        }
      }
      .benefits-list-info {
        width: 100%;
      }
      .benefits-img {
        padding-bottom: 62.71676%;
      }
    }
  }
  .benefits-list-info {
    padding: 24px 32px 40px;
    text-align: center;
    width: 100%;
  }
  .benefits-list-image {
    width: 100%;
    img {
      clip-path: url(#bottomClip);
    }
  }
  .benefits-img {
    padding-bottom: 62.71676%;
  }
  .main-page-statistics {
    margin-bottom: 90px;
  }
}

@media (max-width: 640px) {
  .main-page-search-container {
    width: 100%;
  }
  .main-page-primary h1 {
    font-size: 48px;
    line-height: 58px;
    text-align: left;
  }
  input.main-page-search-input {
    font-size: 14px;
    line-height: 19px;
  }

  .main-page-primary {
    padding-bottom: 400px;
    &:before {
      height: 400px;
    }
  }
}

@media (max-width: 413px) {
  .main-page-primary h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 320px) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .main-page-primary {
    &:before {
      @include image('img_cart@2x.jpg')
    }
  }

}
