.main-page-primary {
  padding-top: 140px;
  padding-bottom: 252px;
  &:before {
    content: '';
    width: calc((732 / 1000) * 100%) ;
    max-width: 720px;
    padding-bottom: 125.68%;
    @include image('img_cart.png');
    position: absolute;
    right: 70px;
    top: -160px;
    background-repeat: no-repeat;
  }
  h1 {
    font-family: "Helvetica-Thin", sans-serif;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 38px;
    font-weight: normal;
  }
}

.main-page-search-container {
  width: 502px;
}

.main-page-search {
  position: relative;
}

input.main-page-search-input {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSans-Light", sans-serif;
  padding: 16px 30px;
  background: #FFFFFF;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 4px 20px rgba(153, 153, 153, 0.13);
  &::-webkit-input-placeholder {color: $cSemiBlack;}
  &::-moz-placeholder {color: $cSemiBlack;}
  &:-moz-placeholder {color: $cSemiBlack;}
  &:-ms-input-placeholder {color: $cSemiBlack;}
}

.main-page-search-submit {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: transparent;
}

.main-page-statistics {
  margin-top: 160px;
  margin-bottom: 120px;
  background: linear-gradient(256.53deg, #FCFCFC 5.98%, #EEECEB 97.16%);
  border-radius: 50px;
  display: flex;
  overflow: hidden;
}

.statistics-total {
  width: 377px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
  padding-top: 40px;
  &:before {
    content: '';
    position: absolute;
    background: $cRed;
    width: 120%;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: 100% 0;
    transform: skewX(-15deg);
  }

}

.statistics-total-icon, .statistics-total-text {
  position: relative;
}

.statistics-total-icon {
  font-size: 80px;
  .icon-logo_map {
    fill: none;
  }
}

.statistics-total-text {
  margin-left: 16px;
  margin-top: 16px;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 61px;
  line-height: 74px;
  color: #ffffff;
}

.statistics-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 38px;

}

.statistics-item {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.statistics-item-icon {
  svg {
    fill: none;
  }
}

.icon-moscow {
  font-size: 60px;
}

.icon-piter {
  font-size: 66px;
}

.icon-ekb {
  font-size: 46px;
}

.icon-kazan {
  font-size: 52px;
}

.statistics-item-count {
  font-size: 61px;
  line-height: 71px;
  font-family: "Helvetica-UltraLight", sans-serif;
  margin-bottom: 8px;
  margin-top: 28px;
}

.statistics-item-text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}



.main-page-benefits {
  margin-bottom: 96px;
}

.benefits-list {

}

.benefits-list-item {
  display: flex;
  background: linear-gradient(264.94deg, rgba(252, 252, 252, .3) 5.98%, rgba(238, 236, 235, .3) 97.16%);
  border-radius: 50px;
  margin-bottom: 64px;
  overflow: hidden;
  &:nth-child(2) {
    flex-direction: row-reverse;
    .benefits-list-info {
      padding-left: 80px;
    }
  }
}

.benefits-list-image {
  height: 800px;

}

.benefits-list-info {
  margin-top: 208px;
  padding-left: 52px;
}

.benefits-header {
  font-family: "Helvetica-UltraLight", sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 32px;
}

.benefits-text {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.benefits-action {
  margin-top: 64px;
}
