<footer class="site-footer">
  <div class="site-footer-container">
    <div class="site-footer-inner">
      <nav class="site-footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#" class="footer-nav-link footer-nav-link--primary">Компания</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Структура компании</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Первые лица</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Корпоративная культура</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Газета</a></li>
          <li class="footer-nav-item">
            <ul class="footer-nav-sublist">
              <li class="footer-nav-item footer-nav-item--primary"><a href="#" class="footer-nav-link footer-nav-link--primary">Вакансии:</a></li>
              <li class="footer-nav-item"><a href="#" class="footer-nav-link">В магазине</a></li>
              <li class="footer-nav-item"><a href="#" class="footer-nav-link">В офисе</a></li>
            </ul>
            <ul class="footer-nav-sublist">
              <li class="footer-nav-item footer-nav-item--primary"><a href="#" class="footer-nav-link footer-nav-link--primary">Контакты:</a></li>
              <li class="footer-nav-item"><a href="#" class="footer-nav-link">Сотрудники</a></li>
              <li class="footer-nav-item"><a href="#" class="footer-nav-link">Магазины</a></li>
            </ul>
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#" class="footer-nav-link footer-nav-link--primary">Сервисы</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Заявки</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Заявление на отпуск</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Заказ визиток</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Справки</a></li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#" class="footer-nav-link footer-nav-link--primary">Льготы</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Скидки</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Страхование</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Топливо</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Материальная помощь</a></li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#" class="footer-nav-link footer-nav-link--primary">Обучение</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Новому сотруднику</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Адаптация и аттестация</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Литература</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Глоссарий</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Вопросы</a></li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#" class="footer-nav-link footer-nav-link--primary">Тусовка</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Голосование и опросы</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Конкурсы</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Объявления</a></li>
          <li class="footer-nav-item"><a href="#" class="footer-nav-link">Галерея</a></li>
        </ul>
      </nav>
      <div class="site-footer-copyright">
        <span class="copyright">© Верный 2019. Все права защищены.</span>
        <span class="developer">Разработка сайта — <a href="http://itech-group.ru/" target="_blank">ITECH.group</a></span>
      </div>
      <a href="#" class="site-footer-logo">{{mixins.icon('footer_logo')}}</a>
    </div>
  </div>
</footer>
