.breadcrumbs {
  margin-top: 8px;
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  &:before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: $cRed;
    position: absolute;
    top: 50%;
    left: -16px;
  }
  &:first-child {
    margin-left: 0;
    &:before {
      display: none;
    }
  }
}

a.breadcrumbs-link {
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
  font-family: OpenSans-SemiBold, sans-serif;
  color: $cBlack;
  border-bottom: 0;
  white-space: nowrap;
  &[href], &.is-current {
    font-family: OpenSans-Regular, sans-serif;
    &:hover {
      color: $cRed;
    }
  }
}
