.site-header {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.site-header-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 32px;
  padding-left: 80px;
  padding-right: 15px;
}

a.logo {
  border-bottom: 0;
}

.header-burger {
  position: absolute;
  left: 15px;
  top: 0;
}

.burger-button {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  background-color: transparent;

  &:before, &:after {
    content: "";
    width: 24px;
    height: 2px;
    position: absolute;
    left: 4px;
    background: black;
    transform-origin: 50% 50%;
    transition: transform 0.2s 0.2s, background-color .2s;
  }

  &:before {
    top: 8px;
  }

  &:after {
    bottom: 8px;
  }

  &:hover {
    &:before, &:after {
      background: $cRed;
    }
    i {
      &:before, &:after {
        background-color: $cRed;
      }
    }
  }

  i {
    &:before, &:after {
      content: "";
      width: 24px;
      height: 2px;
      position: absolute;
      left: 4px;
      top: 15px;
      background-color: $cBlack;
      transform-origin: 50% 50%;
      transition: transform 0.3s, background-color .2s;
    }
  }

  &.is-active {
    &:before, &:after {
      transform: scaleX(0);
      transition: transform 0.2s, background-color .2s;
    }

    i {
      &:before {
        transform: rotate(45deg);
        transition: transform 0.3s 0.2s, background-color .2s;
      }

      &:after {
        transform: rotate(-45deg);
        transition: transform 0.3s 0.2s, background-color .2s;
      }
    }
  }
}

.header-userinfo {
  margin-left: auto;
  position: relative;
}

.userinfo-trigger {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: $cBlack;
  transition: color .3s;
  background: transparent;
  &:hover {
    color: $cDarkGrey;
  }
}

@media (max-width: 959px) {
  .site-header-inner {
    padding-right: 35px;
    padding-left: 35px;
  }
  .header-burger {
    left: 35px;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {

}

@media (max-width: 414px) {
  .site-header {
    padding-top: 32px;
  }
  .logo {
    z-index: 1;
  }
}
